
body {
  background-color: rgb(55, 3, 90);
  font-size: 15px;
  color: white;
  margin: 0;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

div#root {
  height: 100vh;
}

button, button:focus {
  background-color: rgb(2, 8, 58);
  color: white;
  border: 1px solid white;
  text-align: center;
  font-size: 0.8em;
  padding: 0.3rem 1rem 0.3rem 1rem;
  outline: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

button:active {
  border: 1px dotted white;
}

.intraday {
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  margin: 0 auto 0 auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer button {
  border: 1px solid white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.controlPane {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0.2em 1em 0.2em 1em;
  color: white;
  background-color: rgb(2, 8, 58);
  height:6vh;
  width: 100%
}

.controlPane p {
  font-size: 0.7em;
  color: white;
}

.controlPane form {
  /* width: 17rem; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.intradayQueryForm * {
  margin: 0 0 0 1rem;
}


.controlPane input[type="text"] {
  color: white;
  background-color: rgb(2, 8, 58);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  border: 1px solid white;
  width: 3.4rem;
  font-size: 0.8em;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.controlPane input[type="text"]:focus {
  color: black;
  outline: none;
  background-color: antiquewhite;
}

.controlPane input[type="checkbox"] {

}

.controlPane select, select:focus {
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  background-color: rgb(2, 8, 58);
  border: 1px solid white;
  border-radius: 0;
  box-sizing: border-box;
  /* width: 3.4rem; */
  font-size: 0.8em;
  padding: 0.3rem 1rem 0.3rem 1rem;
  outline: none;
}

.intradayView {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* padding: 1em; */
}

.light {
  background-color: rgb(240, 240, 240);
}

.dark {
  background-color: rgb(0, 2, 10);
}

.intradayChartWrapper {
  height: 100%;
}