
body {
  background-color: rgb(55, 3, 90);
  color: white;
  text-align: center;
}

button, button:focus {
  background-color: rgb(2, 8, 58);
  color: white;
  border: 1px solid white;
  text-align: center;
  font-size: 0.8em;
  padding: 0.3rem 1rem 0.3rem 1rem;
  outline: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

button:active {
  border: 1px dotted white;
}

.intraday {
  width: 95vw;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  margin: 0 auto 0 auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer button {
  border: 1px solid white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.intradayQuery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0.2em 1em 0.2em 1em;
  color: white;
  background-color: rgb(2, 8, 58);
  height:6vh;
  width: 100%
}

.intradayQuery p {
  font-size: 0.7em;
  color: white;
}

.intradayQuery form {
  width: 17rem;
  display: flex;
  justify-content: space-between;
}


.intradayQuery input {
  color: white;
  background-color: rgb(2, 8, 58);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  border: 1px solid white;
  width: 3.4rem;
  font-size: 0.8em;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.intradayQuery input:focus {
  color: black;
  outline: none;
  background-color: antiquewhite;
}

.intradayQuery select, select:focus {
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  background-color: rgb(2, 8, 58);
  border: 1px solid white;
  border-radius: 0;
  box-sizing: border-box;
  /* width: 3.4rem; */
  font-size: 0.8em;
  padding: 0.3rem 1rem 0.3rem 1rem;
  outline: none;
}

.intradayView {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

.light {
  background-color: rgb(240, 240, 240);
}

.dark {
  background-color: rgb(0, 2, 10);
}

.intradayChartWrapper {
  height: 85vh;
}